body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --mainGreen: #a1a468;
  --secondYellow: #ffb600;
  --thirdBeige: #f2eac7;
  --offWhite: #f7f8f8;
  --offBlack: #2b2b2b;
}
